/* your styles go here */

i {
    font-size: 5em;
    margin:5%;
}
.middle {
    margin-left: 1%;
}
h1 {
    font-size: 7em;
}

body {
    font-family: 'Nunito';
}
.navbar {
    font-style: normal;
    font-family: 'Nunito';
}